---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Contacto">
	<Header />

	<main class="mt-4">
        <div class="mt-20 animate-fade animate-duration-1000 animate-delay-200">
            <h3 class="text-2xl font-bold">Twitter Follow Card</h3>
            <a href="https://github.com/felipeB21/twitter-follow-card" target="_blank"><video class="rounded-xl" autoplay muted loop src="/videos/twitterCard.mp4"></video></a>
        </div>
        <div class="mt-20 animate-fade animate-duration-1000 animate-delay-500 ">
            <h3 class="text-2xl font-bold">McDonald's Clone</h3>
            <a href="https://github.com/felipeB21/McDonalds-Clon--not-responsive-" target="_blank"><video autoplay muted loop src="/videos/mcdonalds.mp4"></video></a>
        </div>
        <div class="mt-20 animate-fade animate-duration-1000 animate-delay-700 ">
            <h3 class="text-2xl font-bold">Frontend Mentor</h3>
            <a href="https://github.com/felipeB21/intro-section-with-dropdown-navigation-main-Astro" target="_blank"><img src="/img/Captura.PNG" alt="Trabajo"></a>
        </div>
        <div class="text-center mt-12 mb-10">
            <a class="bg-slate-200 text-black px-20 py-3 rounded-md hover:bg-black hover:text-white transition-colors duration-300" href="https://github.com/felipeB21" target="_blank">Ver más</a>
        </div>
    </main>
    <footer class="mt-8 py-1 sm:flex hidden justify-between items-center">
        <div class="flex items-center gap-4">
            <a class="hover:underline duration-75" href="https://github.com/felipeB21" target="_blank">GitHub</a>
            <a class="hover:underline duration-75" href="https://www.linkedin.com/in/felipe-bolgar-b08648285/" target="_blank">Linkedin</a>
        </div>
        <div>
            <p class="opacity-80">bolgarfelipe@gmail.com</p>
        </div>
    </footer>
</Layout>