<header class="flex items-center justify-between mt-10 font-medium">
    <div class="text-xl">
        <a href="/">bolg<span class="text-sky-500">dev</span>.</a>
    </div>
    <nav class="text-lg font-medium">
        <ul>
            <li><a class="opacity-80 hover:opacity-100 transition-all duration-200" href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>