<div class="bg-gradient-to-r from-sky-500 hover:bg-sky-950 duration-500 px-3 py-1 w-[220px] rounded-lg">
    <a class="text-2xl font-bold flex items-center justify-between" href="https://www.linkedin.com/in/felipe-bolgar-b08648285/" target="_blank">Linkedin <img src="/img/linkedin.png" alt="linkedin"></a>
</div>